@model RockStar_IT_Events.ViewModels.EventModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    <script src="../jquery-3.4.1.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/event-style.css">
</head>
<body>

    <div class="row  no-gutters">
        <div class="col-md-2 Left-Box">
            <div class="col-md-10 offset-1 Logo">
                <img src="~/img/logo-rockstars@2x_2 1.png" alt="RockstarLogo">
            </div>

            <div class="col-md-12">
                <h1>EVENTS</h1>
            </div>
            <div class="col-md-12 hoverable">
                <p>Events</p>
            </div>
            <div class="col-md-12 hoverable" style="background: black; color: #ffffff;">
                <p>Create new event</p>
            </div>
            <div class="col-md-12 hoverable">
                <p>Tickets</p>
            </div>

            <div class="col-md-12">
                <h1>USERS</h1>
            </div>
            <div class="col-md-12 hoverable">
                <p>Users</p>
            </div>
            <div class="col-md-12 hoverable">
                <p>Mailing list</p>
            </div>
            <div class="col-md-12 hoverable">
                <p>Create new Partner</p>
            </div>
            <div class="col-md-12 hoverable">
                <p>Create new Rockstar</p>
            </div>
        </div>

        <div class="col-md-10 Right-Box">
            <div class="col-md-10 offset-1 FromWrapper">
                <h1>This is the start of something great</h1>


                <div class="row">

                    <div class="col-md-4 offset-1 ThumbNail">
                        <div>
                            <img src="~/img/Man.jpg" alt="">
                        </div>
                        <div>
                            <button class="btn col-md-12 ThumbNail-btn" type="submit">
                                CHANGE THUMBNAIL <i class="ml-2"></i>
                            </button>
                        </div>
                        <div class="row social">
                            <div class="col-md-4 text-center">
                                <a href="#" class="fa fa-facebook"></a>
                            </div>
                            <div class="col-md-4 text-center">
                                <a href="#" class="fa fa-twitter"></a>
                            </div>
                            <div class="col-md-4 text-center">
                                <a href="#" class="fa fa-instagram"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 Form">

                        <form asp-action="Create">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <div class="form-row">
                                <div class="col-md-12">
                                    <input asp-for="Title" type="text" id="Title" class="form-control" placeholder="Title">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <textarea asp-for="Description" class="form-control" id="comment" placeholder="Description" rows="8.5"></textarea>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <input type="text" id="Speaker" class="form-control" placeholder="Speaker">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <input asp-for="StartDate" class="form-control" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 end-date">
                                    <input asp-for="EndDate" class="form-control" />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <input asp-for="Thumbnail" id="Speaker" class="form-control" placeholder="Thumbnail">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-5">
                                    <input asp-for="PostalCode" id="Speaker" class="form-control" placeholder="PostalCode">
                                </div>

                                <div class="col-md-3">
                                    <input asp-for="HouseNumber" id="Speaker" class="form-control" placeholder="HouseNumber">
                                </div>

                                <div class="col-md-4">
                                    <input asp-for="TotalSeats" id="Speaker" class="form-control" placeholder="TotalSeats">
                                </div>
                            </div>



                            <div class="form-row">
                                <div class="checkbox font-weight-light">
                                    <label><input type="checkbox" value=""> Send an email about this new event</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="text-center col-md-4 save-btn">
                                    <button class="btn btn-outline-purple col-md-12" type="submit">SAVE DRAFT</button>
                                </div>

                                <div class="text-center col-md-8 publish-btn">
                                    <button class="btn btn-outline-purple col-md-12" type="submit">CREATE THIS EVENT</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>