@model RockStar_IT_Events.Models.Event
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body>
    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("light-mode");
        }
    </script>

    <div class="NavEventPage">
        <button class="mode-button" onclick="myFunction()"><img src="imgs/Moon.png"></button>
    </div>

    <div class="LogoNavBar">
        <img src="img/logo-rockstars@2x_2 1.png" alt="logo-rockstars">
    </div>

    <div class="wrapper">
        <div class="image-content">
            <img src="@Model.thumbnail" alt="Inhoud afbeelding">
            <div class="text1">Alkmaar</div>
            <div class="text2">28 March</div>
        </div>

        <div class="content">
            <div class="content-title">
                <p>@Model.title</p>
            </div>
            <div class="content-content">
                <p> typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="content-tags">
                <p>PHP | Unit testing | Python</p>
            </div>
            <div class="content-maps">
                <img src="imgs/maps.png">
            </div>
            <div class="content-information">
                <img src="imgs/calendar.png">
                <p>28 March 2020</p>
                <img src="imgs/clock.png">
                <p>20:00-23:45</p>
                <img src="imgs/marker.png">
                <p>Oude kerk 2, Alkmaar</p>
                <img src="imgs/speaking person.png">
                <p>Richard Baaters</p>
                <img src="imgs/Chair.png">
                <p>23/50 places left</p><br>
            </div>
            <div class="invite">
                <input type="checkbox">
                <p>Let my contacts know I'm going</p>
                <button>
                    <h1>Sign me up</h1>
                </button>
            </div>
        </div>
    </div>

</body>
</html>