@model List<RockStar_IT_Events.Models.Event>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>Rockstar Events</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="icon" href="~/img/Background-banner1.jpg">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="HeaderHomePage">
        <h1>ROCKSTAR EVENTS</h1>
    </div>

    <div class="header" id="myHeader">
        <div id="NavHomePage">

            <button class="ToggleButton" id="ToggleButton"><img src="img/Moon.png"></button>

        </div>
        <div class="LogoNavBar">
            <img src="img/logo-rockstars@2x_2 1.png" alt="logo-rockstars">
        </div>
    </div>

    <div id="UpcomingEvents" class="content">
        <p>UPCOMING EVENTS</p>
    </div>

    @foreach (var e in Model)
    {
        <div class="EventBlock">
            <div class="LeftImage">
                <img src=@e.thumbnail alt="">
                <h1>27-03</h1>
            </div>
            <div class="TextRight">
                <ul>
                    <div class="TextColumn">
                        <li><h1>@e.title - Alkmaar</h1></li>
                        <li>
                            <p>
                                @e.description
                            </p>
                        </li>
                        <div class="TextRow">
                            <li><h5>PHP	|	Unit testing	|	Python	| C# </h5></li>

                            <div class="InfoButton">
                                <h2><a asp-action="Event" asp-route-id="@e.id">More info</a></h2>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    }

    <footer class="FooterText">
        <p>Copyright &copy; 2020 EventHandlers</p>

        <script src="~/Scripts/scroll.js"></script>
        <script src="~/Scripts/ToggleDarkMode.js"></script>
    </footer>

</body>
</html>