@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Rockstar Events</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="icon" href="~/img/logo-rockstars@2x_2 1.png">

</head>
<body>
    <div id="HeaderHomePage">
        <h1>ROCKSTAR EVENTS</h1>
    </div>
    <div class="header" id="myHeader">
        <div id="NavHomePage">
        </div>
        <div class="LogoNavBar">
            <img src="~/img/logo-rockstars@2x_2 1.png" alt="logo-rockstars">
        </div>
    </div>
    <div id="UpcomingEvents" class="content">
        <p>UPCOMING EVENTS</p>
    </div>

    @{for (int i = 0; i < 10; i++)
        {
        <div class="EventBlock">
            <div class="LeftImage"> <img src="~/img/Man.jpg" alt=""></div>
            <div class="TextRight">
                <ul>
                    <div class="TextColumn">
                        <li><h1>Start testing your code! - Alkmaar</h1></li>
                        <li>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolores velit tempore recusandae, aperiam fugiat magni itaque laboriosam asperiores distinctio error voluptate id dignissimos rem libero explicabo veritatis eum quae?
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, enim repellat eius ratione nisi, necessitatibus similique ipsa, corrupti laboriosam aut doloribus explicabo debitis. Illum expedita beatae ab placeat ipsa non.
                            </p>
                        </li>
                        <div class="TextRow">
                            <li><h5>PHP	|	Unit testing	|	Python	| C# </h5></li>

                            <div class="InfoButton">
                                <h2>More info</h2>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        }
    }
</body>
<script src="~/scroll.js"></script>
</html>
