@model RockStar_IT_Events.ViewModels.UnsubscribeEvent
@{
    ViewData["Title"] = "UnsubscribeForEvent";
}


    <div class="bg-white p-5 bg-shadow">

        <h1 class="text-center">Unsubscribe for @Model.Event.title</h1>
        <hr />
        <form asp-action="UnsubscribeForEvent" asp-controller="Event" class="rockstar-form">
            <input asp-for="Event.id" hidden />
            <div class="form-group">
                <textarea asp-for="Reason" class="boxsizingBorder" cols="50" rows="3" placeholder="Reason" ></textarea>
            </div>
            <div class="form-group d-flex justify-content-center p-0">
                <input  type="submit" value="Unsubscribe" />
            </div>
        </form>

    </div>
