
@{
    ViewData["Title"] = "Succes";
}

<link rel="stylesheet" type="text/css" href="~/css/TinderStyle.css">

<body>

    <h1 class="col-md-12 text-center pt-5 text-black-50"> congratulations you have entered all your interests </h1>
    <div class="col-md-12 pt-5">
        <img class="text-black-50 center-block" src="~/Images/congrats.gif" alt="Congrats">
    </div>
    <a class="col-md-12 text-center text-black-50" href="https://teameventhandler.azurewebsites.net/"><p>Go Home</p></a>

</body>
