@model RockStar_IT_Events.ViewModels.ErrorModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_MainLayout";
}
<div class="col-md-12 topLayer">
    <div class="row">

        <div class="col-md-12 topNumber">
            @if (Model.StatusCode != null)
            {
                <p>
                    @Model.StatusCode
                </p>
            }
        </div>
    </div>
    <div class="col-md-12 topText">
        <p>@Model.ErrorMessage</p>
    </div>
</div>

<div class="col-md-12 botLayer botText">
    <a asp-action="Index" asp-controller="Event" style="text-decoration: none;">CLICK ME <br>TO GO HOME</a>
</div>
