$rockstar-yellow: #ffe000;
$rockstar-black : #000000;
$rockstar-dark-gray: #232323;
$rockstar-white: #ffffff;
$sub-white: #f4f4f4;
$rockstar-yellow-hover: #f5d800;

$icon-size : 25px;

$rockstar-h1-size: 70px;
$rockstar-h2-size: 45px;
$rockstar-h3-size: 32px;
$rockstar-h4-size: 24px;
$rockstar-h5-size: 20px;
$rockstar-p-size: 16px;

$font-family: "Open Sans", sans-serif;

$nav-height: 80px;

$button-height-img: 40px;