* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

h1 {
  font-size: 70px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

p {
  font-size: 16px; }

body {
  background: #f4f4f4;
  font-family: "Open Sans", sans-serif !important; }

.icon {
  height: 25px;
  width: auto;
  display: inline; }

#navbar {
  transition: top 0.2s; }

nav img {
  height: 80px; }

.rockstar-btn {
  background-color: #ffe000;
  padding: 10px;
  color: #000000;
  transition: 0.4s; }
  .rockstar-btn p {
    display: inline;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0; }
  .rockstar-btn img {
    height: 100%;
    margin-left: 20px;
    height: 16px; }
  .rockstar-btn:hover {
    background-color: #f5d800;
    text-decoration: none;
    color: #000000; }

.main-img-thumbnail {
  height: 300px;
  width: 100%; }

.sub-info-div {
  padding: 20px; }

.bg-subwhite {
  background-color: #f4f4f4; }

.main-padding {
  padding: 50px 0; }

.rockstar-form input {
  border: none;
  margin-bottom: 20px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px;
  background: #f4f4f4;
  padding: 10px; }

.rockstar-form textarea {
  border: none;
  margin-bottom: 20px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px;
  background: #f4f4f4;
  padding: 10px; }

.rockstar-form h1 {
  padding: 50px 0 20px 0;
  font-weight: normal; }

.rockstar-form div {
  margin: auto; }

.rockstar-form .bottom-text a {
  color: #232323;
  text-decoration: underline; }

.rockstar-form a:hover {
  color: #232323; }

.rockstar-form .bottom-text {
  padding-top: 10px;
  padding-bottom: 50px;
  margin: auto; }

.rockstar-form .input-box {
  border: 2px dashed rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  text-align: center;
  background: none;
  cursor: pointer;
  padding: 30px; }

.rockstar-form input:not(:placeholder-shown) {
  background: #f4f4f4 !important; }

.rockstar-form input:placeholder-shown {
  background: #f4f4f4 !important; }

.rockstar-form .form-control:focus {
  box-shadow: none; }

.rockstar-form .create-btn {
  margin-bottom: 40px; }

.login-container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  background: #ffffff;
  margin-bottom: 16vh;
  border-radius: 5px;
  margin-top: 16vh;
  margin: auto; }

.create-container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  background: #ffffff;
  margin: auto; }

.right-box {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  background: #ffffff;
  border-radius: 5px;
  padding: 50px;
  margin: auto; }

.action-controls {
  padding-left: 20px;
  padding-bottom: 10px; }
  .action-controls p {
    border: solid 1px;
    margin-left: 30px;
    padding: 8px; }
  .action-controls input {
    border: solid 1px;
    padding: 5px;
    margin-right: 100px; }

.event-table img {
  object-fit: cover;
  object-position: 50% 30%;
  width: 180px;
  height: 90px;
  margin: 5px; }

.top-text {
  font-size: 80px;
  text-align: center;
  padding-bottom: 50px; }

.topNumber {
  font-weight: 900;
  text-align: center; }

.topNumber p {
  font-size: 12vh;
  padding: 0px; }

.topText {
  text-align: center;
  font-weight: 800;
  font-size: 18vh;
  padding-bottom: 10vh; }

.botText {
  background-color: #232323;
  padding-top: 12vh;
  padding-bottom: 12vh;
  text-align: center; }

.botText a {
  color: #ffe000;
  font-size: 7vh;
  font-weight: 800; }

.botText a:hover {
  color: #f5d800; }
