:root {
    font-family: Roboto;
    font-style: normal;
}

html {
    overflow: hidden;
}

.left {
    background-color: #FFE000;
}

.left-top {
    vertical-align: middle;
    text-align: left;
    color: white;
    font-weight: 700;
    font-size: 12vh;
    margin-top: 8%;
}

.left-bottom {
    vertical-align: middle;
    text-align: left;
    color: black;
    font-weight: 700;
    font-size: 7vh;
    margin-top: 15%;
    padding-bottom: 1000px;
}

.right {
    background-color: #333333;
}

.logo {
    justify-content: space-between;
    margin-top: 15%;
}

.welcometext {
    color: white;
    font-weight: 300;
    font-size: 5vh;
    vertical-align: middle;
    text-align: center;
}

.formwrapper {
    margin-top: 3vh;
}

.formwrapper input {
    padding: 2vh;
    border-radius: 0px;
}

.formwrapper ::placeholder{
    color: #000000;
    opacity: 0.5;
    font-weight: 300;
    font-size: 2vh;
}

.email {
    color: white;
    justify-content: space-between;
    margin-top: 3vh;
}

.password {
    color: white;
    justify-content: space-between;
    margin-top: 1vh;
}

.loginbutton {
    color: white;
    text-align: center;
    margin-top: 3vh;
    width: 100%;
    padding: 0;
}

.loginbutton button {
    font-size: 2vh;
}

.notamember {
    color: white;
    font-weight: 500;
    font-size: 2vh;
    margin-top: 1vh;
    text-align: center;
}

input:not(:placeholder-shown) {
    background-color: #f7f7f7 !important;
    color: black !important;
}


input:placeholder-shown {
    background-color: #f7f7f7 !important;
    color: black !important;
}

.form-control:focus {
    border-color: black!important;
    box-shadow: none;
}