body {
}

html {
    overflow: hidden;
}

.left-panel {
    background-color: #FFE000;
    padding-bottom: 1000px;
}

.logo {
    justify-content: space-between;
    margin-top: 15%;
}

.left-big-font{
    color: black;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.left-small-font{
    color: black;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.right-wrapper{
    justify-content: space-between;
    margin-top: 3%;
}

.right-top-text{
    font-weight: 400;
    font-size: 60px;
    color: black;
    text-align: center;
}

.start-end-date{
    justify-content: space-between;
    margin: 0px;
}

.start-date {
    width: 49.5%;
}

.end-date {
    width: 49.5%;
}

.triple-input{
    justify-content: space-between;
    margin: 0;
}

.totalseats{
    width: 33%;
}

.postalcode {
    width: 33%;
}

.housenumber {
    width: 33%;
}

