* {
    outline: none;
}

body {
    background-color: #333333;
    padding: 0px;
    margin: 0px;
    color: white;
}

.header-eventpage {
    background-color: #FFE000;
    height: 120px;
}

.header-eventpage img {
    position: relative;
    left: 8%;
    top: 42%;
    z-index: 10000;
}

.wrapper {
    background-color: #232323;
    padding: 0px;
    margin-top: 2%;
    overflow: hidden;
}

.side-picture {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(../img/Man.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin: 0;
}

.picture-location {
    font-size: 3vw;
    font-weight: 600;
}

.picture-date {
    font-size: 4vw;
    font-weight: 600;
    margin-top: 100%;
}

.info-panel h1 {
    font-size: 60px;
}

.info-panel p {
    margin-right: 10px;
}

.content-information img {
    width: 100%;
    filter: invert(var(--content-icon-color));
}

.content-information p {
    vertical-align: middle;
    padding: 10px 0;
}

.invite {
    background-color: #FFE000;
    height: 15%;
    padding: 10px;
    margin-right: 5%;
}

.checkbox {
    text-align: center;
    padding-top: 3.5%;
}

.info-panel h4 {
    color: black;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    margin-top: 5%;
    margin-bottom: 5%;
}

.invite-button {
    text-align: center;
    padding-top: 0.667%;
}

.invite-button h5 {
    font-size: 40px;
    padding: 10px;
    color: white;
}

.invite-button button {
    border: none;
    background: #232323;
    padding: 0 70px;
}