@import "init";
@import "variables";

h1{
    font-size: $rockstar-h1-size;
}

h2{
    font-size: $rockstar-h2-size;
}

h3 {
    font-size: $rockstar-h3-size;
}

h4 {
    font-size: $rockstar-h4-size;
}

h5 {
    font-size: $rockstar-h5-size;
}

p {
    font-size: $rockstar-p-size;
}

.icon{
    height: $icon-size;
    width: auto;
    display: inline;
}

#navbar {
    transition: top 0.2s;
}

nav{

    img{
        height: $nav-height;
    }
}

.rockstar-btn {
    background-color: $rockstar-yellow;
    padding: 10px;
    color: $rockstar-black;
    transition: 0.4s;

    p {
        display: inline;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
    }

    img {
        height: 100%;
        margin-left: 20px;
        height: $rockstar-p-size;
    }

    &:hover{
        background-color: $rockstar-yellow-hover;
        text-decoration: none;
        color: $rockstar-black;
    }
}

.main-img-thumbnail{
    height: 300px;
    width: 100%;
   
}

.sub-info-div{
    padding: 20px;
}

.bg-subwhite {
    background-color: $sub-white;
}

.main-padding {
    padding: 50px 0;
}

.rockstar-form {

    input {
        border: none;
        margin-bottom: 20px;
        border-radius: 0px;
        box-shadow: rgba(0,0,0,.3) 0 1px;
        background: $sub-white;
        padding: 10px;
    }

    h1 {
        padding: 50px 0 20px 0;
        font-weight: normal;
    }

    div {
        margin: auto;
    }

    .bottom-text a{
        color: $rockstar-dark-gray;
        text-decoration: underline;
    }

    a:hover {
        color: $rockstar-dark-gray;
    }

    .bottom-text {
        padding-top: 10px;
        padding-bottom: 50px;
        margin: auto;
    }


    input:not(:placeholder-shown) {
        background: $sub-white !important;
    }

    input:placeholder-shown {
        background: $sub-white !important;
    }

    .form-control:focus {
        box-shadow: none;
    }
}

.login-container {
    background: $rockstar-white;
    border-radius: 5px;
    margin: auto;
    margin-top: 16vh;
    margin-bottom: 16vh;
    box-shadow: rgba(0,0,0,.2) 0px 0px 5px;
}