* {
    outline: none;
}

body {
    background-color: #333333;
    padding: 0px;
    margin: 0px;
    color: white;
}

.header-eventpage {
    background-color: #FFE000;
    height: 12vh;
}

.header-eventpage img {
    position: relative;
    width: 17vh;
    left: 15vh;
    top: 4vh;
    z-index: 10;
}

.wrapper {
    background-color: #000;
    padding: 0px;
    margin-top: 2%;
    overflow: hidden;
}

.side-picture {
    height: 80vh;
    margin: 0;
    overflow: hidden;
    width: 54vh;
}

.side-picture img {
    object-fit: cover;
    object-position: 50% 0;
    height: 80vh;
    width: 54vh;
    opacity: 0.5;
}

.picture-location {
    font-size: 3vw;
    font-weight: 600;
}

.picture-date {
    font-size: 2vw;
    font-weight: 600;
    margin-top: 100%;
}

.info-panel{
    padding: 3vh;
}

.info-panel h1 {
    font-size: 5vh;
}

.info-panel h3{
    padding-top:2vh;
    padding-bottom:4vh;
    font-size: 2vh;
}

.info-panel p {
    margin-right: 1vh;
    font-size: 1.5vh;
}

.content-information img {
    width: 4vh;
    filter: invert(var(--content-icon-color));
}

.content-information p {
    vertical-align: middle;
    font-size: 1.5vh;
    padding: 1vh 0;
}

.invite {
    background-color: #FFE000;
    height: 15%;
    padding: 1vh;
    margin-right: 5%;
}

.checkbox {
    padding-top: 3.5vh;
    padding-left: 5vh;
}

.checkbox input{
    padding: 1vh;
}

.info-panel h4 {
    color: black;
    font-weight: 500;
    font-size: 3vh;
    text-align: center;
    vertical-align: middle;
    margin-top: 2vh;
}

.invite-button {
    text-align: center;
}

.invite-button h5 {
    font-size: 4vh;
    padding: 1.5vh;
    color: white;
    font-size: 3vh;
}

.invite-button button {
    border: none;
    background: #000;
    padding: 0 7vh;
}

.map {
    padding-top: 2vh;
    padding-bottom: 2vh;
}