@model RockStar_IT_Events.ViewModels.CategoryCreateViewModel
@{
    Layout = "_Admin";
}

<div class="col-md-10 create-container">

    <form asp-controller="Admin" asp-action="AddCategory" class="rockstar-form" name="myForm" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1 class="title col-md-12 text-center">
            Create a new category
        </h1>

        <div class="col-md-10">
            <div class="form-row">
                <div class="col-md-12">
                    <input class="form-control" asp-for="Name" placeholder="name of category" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <textarea name="description" asp-for="Description" placeholder="Describe your category here..." cols="4" rows="20"></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <div class="input-box" id="yourBtn" onclick="getFile()">click to upload a file</div>
                    <div style='height: 0px; width: 0px; overflow: hidden;'>
                        <span asp-validation-for="Thumbnail" class="text-danger"></span>
                        <input type="file" id="upfile" asp-for="Thumbnail" onchange="sub(this)"/>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <input class="rockstar-btn text-center col-md-12 mb-5" type="submit" value="Save category" />
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="~/Scripts/file-display.js"></script>