@model RockStar_IT_Events.ViewModels.EventModel
@{
    Layout = "_Admin";
}

<div class="col-md-10 create-container">
    <form asp-controller="Admin" asp-action="EditEvent" class="rockstar-form" name="myForm" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <h1 class="title col-md-12 text-center">
            Edit this event
        </h1>
        <div class="col-md-10">
            <div class="form-row">
                <div class="col-md-12">
                    <input asp-for="Title" class="form-control " id="defaultFormCardNameEx" placeholder="Title" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <input asp-for="Description" class="form-control " rows="4" id="defaultFormCardNameEx" placeholder="Description" />
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-md-12">
                    <select class="form-control" asp-for="SpeakerId" id="SpeakerId" asp-items="@(new SelectList(Model.Speakers, "id", "first_name"))">
                        <option value="" selected disabled>Select host</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <input asp-for="StartDate" class="form-control " id="defaultFormCardNameEx" placeholder="Start date" />
                </div>
                <div class="col-md-3">
                    <input asp-for="EndDate" class="form-control " id="defaultFormCardNameEx" placeholder="End time" />
                </div>
                <div class="col-md-3">
                    <input asp-for="TotalSeats" class="form-control " id="defaultFormCardNameEx" placeholder="Available seats" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-9">
                    <input asp-for="PostalCode" class="form-control " id="defaultFormCardNameEx" placeholder="Location" />
                </div>
                <div class="col-md-3">
                    <input asp-for="HouseNumber" class="form-control" placeholder="House number" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="input-box p-5" id="yourBtn" onclick="getFile()">click to upload a file</div>
                    <div style='height: 0px; width: 0px; overflow: hidden;'>
                        <input id="upfile" asp-for="Picture" onchange="sub(this)" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                @for (int i = 0; i < Model.Categories.Count; i++)
                {
                    <div class="d-flex justify-content-start p-2">
                        <input type="checkbox" name="CategoryId" value="@Model.Categories[i].id" />
                        <label>@Model.Categories[i].name</label>
                    </div>
                }
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <input type="submit" value="Edit this event" class="col-md-12 rockstar-btn create-btn text-center" />
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="~/Scripts/file-display.js"></script>