@model List<Rockstar.Models.Event>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_layout";
}



<div id="UpcomingEvents" class="content">
    <p>UPCOMING EVENTS</p>
</div>

@foreach (var e in Model)
{
    <div class="EventBlock">
        <div class="LeftImage">
            <img src=@e.thumbnail alt="">
            <h1>27-03</h1>
        </div>
        <div class="TextRight">
            <ul>
                <div class="TextColumn">
                    <li><h1>@e.title - Alkmaar</h1></li>
                    <li>
                        <p>
                            @e.description
                        </p>
                    </li>
                    <div class="TextRow">
                        <li><h5>PHP	|	Unit testing	|	Python	| C# </h5></li>

                        <div class="InfoButton">
                            <h2><a asp-action="Event" asp-route-id="@e.id">More info</a></h2>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
}