@model RockStar_IT_Events.ViewModels.ValidateViewModel
@{
    ViewData["Title"] = "Validate";
}

<div class="p-5"></div>
<div class="col-md-12 create-container p-5">
    <h1 class="">Welcome @Model.Email! Verify your account so we can start your adventure</h1>
    <br />
    <form class="rockstar-form" asp-controller="User" asp-action="Validate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Email" hidden/>
        <div class="form-row">
            <div class="col-md-12">
                <input class="form-control" asp-for="Code"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <input type="submit" class="form-control" value="Verify your account"/>
            </div>
        </div>
    </form>
</div>
<div class="p-5"></div>


