@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/css/Style-Change.css">
    <link rel="stylesheet" href="~/css/Style.css">
    <script>
        $(document).ready(function () {
            $(".burger").click(function () {
                $(".wrapper").toggleClass("collapse");
            });
        });
    </script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <ul>
            <li>
                <a asp-action="index">
                    <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                    <span class="title">All event</span>
                </a>
            </li>
            <li>
                <a asp-action="GetUsers">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span class="title">Users</span>
                </a>
            </li>
            <li>
                <a asp-action="Hosts" asp-controller="Host">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span class="title">All Hosts</span>
                </a>
            </li>
            <li>
                <a asp-action="CreateEvent">
                    <span class="icon"><i class="fas fa-plus-square"></i></span>
                    <span class="title">Create event</span>
                </a>
            </li>
            <li>
                <a asp-action="AddHost">
                    <span class="icon"><i class="fas fa-plus-square"></i></span>
                    <span class="title">Create Host</span>
                </a>
            </li>
            <li>
                <a asp-action="Addcategory">
                    <span class="icon"><i class="fas fa-plus-square"></i></span>
                    <span class="title">Create category</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Event">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Homepage</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main_container">
        @RenderBody()
    </div>
</div>
</body>
</html>