<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Rockstar Events</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="icon" href="~/img/logo-rockstars@2x_2 1.png">
</head>
<body>
    @RenderBody()

    
</body>
</html>

